// --------------
// Global styles
// --------------

*, *:after, *:before {
    box-sizing: border-box;
  }
  
  // Color Variables
  $l1: hsla(0, 0%, 100%, 1);
  $l2: hsla(223, 13%, 87%, 1);
  $l3: hsla(0, 0%, 77%, 1);
  $d1: hsla(0, 0%, 20%, 1);
  $d2: #555;
  $p1: #FFC324;
  $g1: #FFB714;
  $g2: #FFE579;
  
  // Mixins
  @mixin size($x, $y) {
    width: $x;
    height: $y;
  }
  
  // Text
  h2, h4, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #106067;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  h2, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: $d1;
    text-align: center;
  }
  
  h2 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
  }
  
  p, li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #eaeaea;
    line-height: 22px;
    text-align: center;
  }
  
  ul, li {
    text-decoration: none;
    list-style: disc outside;
  }
  
  ul {
    padding-left: 20px;
  }
  
  svg {
    margin: 0px;
    min-width: 24px;
    min-height: 24px;
  }
  
  // --------------
  // Main styles begin
  // --------------
  
  body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6f/Skyline_Tulsa.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
}
  
  // --------------
  // Overall card
  // --------------
  
  .cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  // .active is applied to .card when .card is clicked.
  .active {
    transform: translateZ(0px) rotateY(180deg) !important;
    &:after {
      display: none;
      // &:hover:after {
      //   opacity: 0 !important;
      // }
    }
  }

  .cardContainer .card {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .cardContainer .card.inactive {
    transform: translateZ(-100px);
  }
  
  .card .side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  
  .card {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; // Added for compatibility
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  
    /* :after allows for a more performant box-shadow because only opacity is being animated. */
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 14px 50px -4px hsla(0, 0%, 0%, 0.15);
      opacity: 0;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
    }
  
    &:hover {
      transform: translateZ(0px);
    }
  
    &:hover:after {
      opacity: 1;
    }
  
    .side {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      @include size(100%, 100%);
      border-radius: 5px;
      background-color: $l1;
    }
  
    .front {
      z-index: 2;
    }
  
    .back {
      transform: rotateY(180deg);
    }
  
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        color: hsl(0, 0%, 80%);
        text-align: center;
        background: rgba(0, 0, 0, 0.7); // Adjust the background color and opacity as needed
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
  }
  
  // --------------
  // Front of card
  // --------------
  
  .front {
    z-index: 2;

    .img {
      background-color: $l2;
      background-position: center;
      background-size: cover;
      border-radius: 5px 5px 0 0;
      @include size(100%, 250px);
    }
  
    .rhema {
        background-image: url(https://www.rhemalights.org/wp-content/uploads/2021/10/Lights7.jpg);
    }
  
    .jollytown {
        background-image: url(https://bloximages.chicago2.vip.townnews.com/fox23.com/content/tncms/assets/v3/editorial/1/1d/11d4e6a8-9c85-11ee-98a6-77ccf9ea5dbc/657e5ea7d7a09.image.jpg);
    }
  
    .winterwonderland {
        background-image: url(https://bloximages.newyork1.vip.townnews.com/tulsaworld.com/content/tncms/assets/v3/editorial/9/df/9dfcce33-9697-5740-908e-61748dafb7e5/5bfc86aa7d9cb.image.jpg);
    }
    .neff {
        background-image: url(https://bloximages.newyork1.vip.townnews.com/tulsaworld.com/content/tncms/assets/v3/editorial/b/a1/ba1f4698-55e1-11eb-af89-3fb83d8b6316/5fff5e679b7bc.image.jpg?crop=1843%2C968%2C0%2C78&resize=1200%2C630&order=crop%2Cresize);
    }
    .mayo {
        background-image: url(https://static.wixstatic.com/media/569777_39b3c97f35a94a53a251970d6634bf9c~mv2.jpg/v1/fill/w_1050,h_998,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/569777_39b3c97f35a94a53a251970d6634bf9c~mv2.jpg);
    }
    .race {
        background-image: url(https://raceintothenewyear.itsyourrace.com/PhotoPreview.ashx?pt=participant&id=19976563);
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        color: $d1;
        text-align: center;
        background: rgba(0, 0, 0, 0.7); // Adjust the background color and opacity as needed
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
  }
  // --------------
  // Back of card
  // --------------
  
  .back {
    position: relative;
  
    h2 {
      margin-top: 6px;
      margin-bottom: 18px;
    }
  
    .reviews {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;
  
      p {
        color: $l3;
        font-weight: 300;
        margin: 1px 0 0 6px;
        transition: 0.3s ease-in-out;
  
        &:hover {
          color: $d2;
        }
      }
    }
  
    li {
      line-height: 22px;
      margin: 2px 0 6px 0;
    }
  
    .btn {
      position: absolute;
      bottom: 16px;
      @include size(calc(100% - 32px), 56px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $p1;
      background-image: linear-gradient(-90deg, $g1, $g2);
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        h4 {
          transform: translateX(0px);
        }
  
        svg {
          transform: translateX(0px);
          opacity: 1;
        }
      }
  
      h4 {
        transform: translateX(12px);
        transition: transform 0.3s ease-out;
      }
  
      svg {
        margin: 1px 0 0 4px;
        transform: translateX(-8px);
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }
  }

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #0e2cd8 0%,
      #1666a3 29%,
      #12bdc6 67%,
      #154192 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #36fbfe;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 55px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  #textbox {
    background-color: #6666667e;
    padding: 10px;
    border: 3px blue;
  }